body {
    background-color: #F8F7FF;
    text-align: center;
}

.owl {
    font-family: fantasy;
}

.secret {
    opacity: 0.5;
}

li {
    list-style-type: none;
}

table, th, td {
    border: 1px solid gray;
    margin: 0 auto; /*margin 0 auto will center element */
}

.cabbage {
    color:chartreuse;
}